<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <form action="/api/url/shorter" method="post">
        <label for="longUrl">Long URL</label>
        <input type="text" name="longUrl" id="longUrl">
        <button type="submit">Shorter</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>long url</th>
                <th>short url</th>
                <th>clicks</th>
            </tr>
        </thead>
        <tbody>
            {{#each urls}}
            <tr>
                <td><a href="{{this.longUrl}}">{{this.longUrl}}</a></td>
                <td><a href="{{this.shortUrl}}">{{this.shortUrl}}</a></td>
                <td>{{this.clicks}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>